%div{style: "font-size: 17px"}
  %p
    Bạn đang thực hiện khôi phục mật khẩu cho tài khoản
    %b= @user.email
    Click vào nút dưới đây để thiết lập
    lại mật khẩu cho tài khoản.
  %a{href: "#{edit_password_url(@user, reset_password_token: @user.reset_password_token)}"}
    %button{style: "font-size: 22px; height: 42px; padding-top: 2px; margin-top: 4px", type: "button"}
      KHÔI PHỤC MẬT KHẨU
  %p
  %p Nếu không phải là bạn thực hiện hành động này, vui lòng thông báo cho admin.
