- content_for :content_header do
  .col-sm-6
    %h2.text-gray-800 Thêm Đơn vị quản lý
  .col-sm-12.mt-2
    %a.main-header--back{href: admin_operators_path}
      %i.fas.fa-chevron-left
        Trở lại danh sách

- content_for :content_body do
  = render 'form'