- content_for :content_header do
  .d-sm-flex.justify-content-between.mb-4
    .col-sm-6
      %h1.h3.mb-0.text-gray-800 Dashboard
    .col-sm-6
      .breadcrumb.float-sm-right
        %li.breadcrumb-item
          %a{href: "#"} Home
        %li.breadcrumb-item.active Dashboard
- content_for :content_body do
  .h3 GRADUATE PROJECT