%li.nav-item.dropdown.no-arrow
  %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    %span.mr-2.d-none.d-lg-inline.text-gray-600.small Valerie Luna
  / Dropdown - User Information
  .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{"aria-labelledby" => "userDropdown"}
    %a.dropdown-item{:href => "#"}
      %i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
      Profile
    %a.dropdown-item{:href => "#"}
      %i.fas.fa-cogs.fa-sm.fa-fw.mr-2.text-gray-400
      Settings
    %a.dropdown-item{:href => "#"}
      %i.fas.fa-list.fa-sm.fa-fw.mr-2.text-gray-400
      Activity Log
    .dropdown-divider
    %a.dropdown-item{"data-target" => "#logoutModal", "data-toggle" => "modal", href: ""}
      %i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
      Logout
#logoutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Ready to Leave?
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body Select "Logout" below if you are ready to end your current session.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
        %a.btn.btn-primary{"data-method" => "delete", href: destroy_user_session_path} Logout